.button{
	-fx-font-size: 14pt;
	-fx-text-fill: black;
}

.seat-button-taken{
	-fx-text-fill: black;
	-fx-shape: "M 400 300 A 50 100 0 1 1 550 300 Z";	
	-fx-background-color: #FF3632;
}

.seat-button-empty{
	-fx-shape: "M 400 300 A 50 100 0 1 1 550 300 Z";
	-fx-background-color: #D3D3D3;	
}

.seat-button-selected{
	-fx-shape: "M 400 300 A 50 100 0 1 1 550 300 Z";	
	-fx-background-color: #39E75F;	
}
